#titulo {
    color: rgb(9, 28, 196);
}

p.especial {
    color: rgb(133, 33, 33);
}

p.texto {
    color: rgb(138, 120, 167);
}

div p {
    color: rgb(36, 95, 173);
}

div h2, div h3 {
    color: rgb(223, 100, 130);
}

* {
    font-size: 24px;
    color: rgb(0, 0, 0);
}

/*COMENTARIO RE LOCO

.color {
    color: #eee;
}
*/

.color {
    /* border: 3px blueviolet outset; */
    /*
        dotted
        dashed
        solid
        double
        groove
        ridge
        inset
        outset
        none
        hidden
    */
    border-style: solid;
    border-color: blueviolet;
    border-radius: 5px;
    border-width: 3px;
}

#fondo {
    background-color: #637be9;
    /* opacity: 0.3; */
    height: 400px;
    background-image: url('talleres.jpg');
    background-size: 200px 200px;
    background-repeat: repeat-y;
    background-position: center top;
    /* background: #637be9 url('talleres.jpg') repeat-y center bottom / 200px 200px; */
}

.margen {
    background-color: chocolate;
    margin: 15px;
    padding: 30px 15px;
    border: 1px solid black;
}